:root {
  --dark-blue: rgba(100, 200, 255, 0.8);
  --light-blue: rgba(100, 200, 255, 0.3);
}

* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: #333;
}


a {
  text-decoration: none;
  color: #225ca3;
  font-weight: bold;
  transition: color .1s;
}

a:hover {
  color: #3486eb;
}

button {
  background-color: #225ca3;
  border: 0;
  padding: 1%;
  color: white;
  font-weight: bold;
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #3486eb;
}

.title {
  font-size: 1.2em;
}

.post-list {
  margin: 0;
  padding: 0;
}

textarea, input {
  padding: .5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus, input:focus {
  outline: none;
  border: 1px solid #3486eb;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form {
  padding-left: 2em;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: 1px solid #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
}

h1 {
  font-size: 2em;
  font-family: 'Share Tech Mono', monospace;
}

h2 {
  padding-top: 0.5em;
  margin-left: 0.5em;
}

main {
  flex: 1;
  padding: 0;
  background-color: var(--light-blue);
}

nav {
  margin-right: 1em; 
  align-self: flex-end;
}

nav > a {
  margin-left: 1em;
}

header{
  padding: 1em;
}

li:nth-child(odd) {
  background-color: var(--light-blue);

}

li:nth-child(even) {
  background-color: var(--dark-blue);

}

li { 
  padding: 0.8em 0.5em;
}

.btn {
  background-color: var(--dark-blue);
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #225ca3;
  font-size: 100%;
  font-weight: bold;
  transition: color .1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color: #3486eb;
}

.delete-post-btn {
  background-color: #d41414;
}

.delete-post-btn:hover {
  background-color: #ff643d;
}

.post {
  padding-bottom: 2%;
  margin-left: 0.5em;
  line-height: 150%;
}

.post .title span {
  font-style: italic;
  font-size: 90%;
  color: #7d7d7d;
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}

.upvote-btn {
  background-color: #197d0f;
  transition: background-color .1s;
}

.upvote-btn:hover {
  background-color: #1f9c13;
}

.login-form, .signup-form {
  margin-top: 1em;
  padding: 2em;
}



.comment-form {
  margin-bottom: 5%;
}

.comment {
  padding: 1%;
  
}

.comment:nth-child(odd) {
  background-color: #fff5eb;
}

.comment:nth-child(odd) {
  background-color: var(--light-blue);

}

.comment:nth-child(even) {
  background-color: var(--dark-blue);

}

.comment .meta {
  font-size: 90%;
  margin-bottom: .5%;
  opacity: .6;
}

.new-post-form input {
  width: 300px;
}

.edit-post-form {
  margin-bottom: 5%;
}

footer {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
}